doctype html
html
  head
    meta charset="utf-8" /
    link href="../vendor/SemanticUI/semantic.min.css" media="screen" rel="stylesheet" /
    link href="../css/index.css" media="screen" rel="stylesheet" /
    script href="../vendor/SemanticUI/semantic.min.js" type="text/javascript"
    title twitter
  body
    .header
      .ui.container
        .ui.grid
          .six.wide.column
            i.icon.home.common
            span ホーム
            i.icon.alarm.common
            span 通知
            i.icon.mail.common
            span メッセージ
          .four.wide.column
            .header-icon
              i.icon.twitter.common
          .three.wide.column
            .ui.search
              .ui.icon.input
                input.prompt placeholder="キーワード検索" type="text" /
                i.search.icon
          .one.wide.column.center.aligned
            img alt="gakufes" src="../images/icon.png" class="gakufes"
          .two.wide.column
            img alt="tweet" src="../images/tweet.png" class="tweet"
    .ui.container
      .ui.grid
        .seven.wide.column
          .left-bar
            | 学フェスーーーーーーーーーーーー
        .nine.wide.column
          .right-bar
            | あおおおおおおおおおおおおおおおおお
