<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="../vendor/SemanticUI/semantic.min.css" media="screen" rel="stylesheet" />
    <link href="../css/index.css" media="screen" rel="stylesheet" />
    <script href="../vendor/SemanticUI/semantic.min.js" type="text/javascript"></script>
    <title>twitter</title>
  </head>
  <body>
    <div class="header">
      <div class="ui container">
        <div class="ui grid">
          <div class="six wide column">
            <i class="icon home common"></i><span>ホーム</span><i class="icon alarm common"></i><span>通知</span><i class="icon mail common"></i><span>メッセージ</span>
          </div>
          <div class="four wide column">
            <div class="header-icon">
              <i class="icon twitter common"></i>
            </div>
          </div>
          <div class="three wide column">
            <div class="ui search">
              <div class="ui icon input">
                <input class="prompt" placeholder="キーワード検索" type="text" /><i class="search icon"></i>
              </div>
            </div>
          </div>
          <div class="one wide column center aligned">
            <img alt="gakufes" class="gakufes" src="../images/icon.png" />
          </div>
          <div class="two wide column">
            <img alt="tweet" class="tweet" src="../images/tweet.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="ui container">
      <div class="ui grid">
        <div class="seven wide column">
          <div class="left-bar">
            学フェスーーーーーーーーーーーー
          </div>
        </div>
        <div class="nine wide column">
          <div class="right-bar">
            あおおおおおおおおおおおおおおおおお
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
